/*General Structure*/
html, body {
    height: 100%;
    min-width: 640px;
    min-height: 50px;
    margin: 0;
}
body {
    font: 14px/1 Tahoma,STHeiti,"Microsoft YaHei",Helvetica,Verdana,sans-serif;
    letter-spacing: 1px;
    color: #fff;
    background: #222;
    overflow: hidden;
}
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}


section {
    position: relative;
}

#right {
    position: absolute;
    right: 0;
    width: 100px;
    top: 50px;
    bottom: 50px;

}

footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}



/*Head*/
.music {
    position: fixed;
    z-index: 4;
    right: 20px;
    top: 20px;
    
}
.play{
	animation: side 4s linear infinite;
}
@keyframes side{	
	0%{ transform:rotate(0)}
	100%{ transform:rotate(360deg)}
}
h1 {
    margin: 0;
    position: fixed;
    left: 40px;
    top: 20px;
    height: 30px;
    z-index: 1;
}




/**Middle Context**/









/*right*/
.right-nav {
	position: fixed;
	right: 20px;
	top: 40%;
	margin-top: -50px;
    z-index: 2;
    list-style: none;
}
.right-nav li {
	width: 20px;
	height: 20px;
	border: 1px solid #da5c2a;
	border-radius: 50%;
	margin-top: 10px;
	cursor: pointer;
	/* animation: navturn 6s linear infinite; */
}
.right-nav .current {
	width: 40px;
	height: 40px;
	margin-left: -8px;
	border: 0;
	background: url('../images/side_bg.png')center center;
	background-size: 90%;
	animation: side 2s linear  infinite ;
}


/*nav*/
.nav {
	position: fixed;
	width: 100%;
	height: 60px;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6)

}
.nav ul {
	width: 1000px;
	margin: 0 auto;
    overflow: hidden;
    list-style: none;
}
.nav ul li {
	float: left;
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.nav a{
    display: block;
    width: 200px;
    height: 60px;
    transition: background 0.8s;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.nav a.one:hover{background: #228bd6;}
.nav a.two:hover{background: #c33;}
.nav a.three:hover{background: #3aa624;}
.nav a.four:hover{background: #c145cc;}
.nav a.five:hover{background: #f2ca00;}
